.navbar-default {
    background-color: #1a3c86;
    border-color: #1a3c86;
    background-image: none;
}

.nav {
    background-color: #1a3c86;
    border-color: #1a3c86;
}

.navbar {
    background-color: #1a3c86;
    border-color: #1a3c86;
}
@media (min-width: 768px) {
.navbar {
    border-radius: 4px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid ;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

}